body {
  background: #f7f7f7;
}

.text-blue {
  color: #5d8ffc;
}

.logo a {
  color: black !important;
}
/*MENU*/

.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 5vw;
  padding-right: 5vw;

  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  padding-left: 0;
  padding-bottom: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar .ul-left {
  justify-content: flex-start;
  padding-left: 0;
}

.navbar li {
  /*display:inline;*/
  display: inline-block;
  float: right;
  margin-left: 5px;
  font-size: 0.925rem;
}

.navbar a {
  text-decoration: none;
  color: #5d8ffc;
}
.navbar a:visited {
  color: #5d8ffc;
}

.navbar .logo {
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

/*CARD */
.card {
  min-width: 25vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: white;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  margin-bottom: 5vh;
}
.card input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;

  margin-top: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.card input:focus {
  border: 1px solid #777;
}

.card button,
.card input[type='submit'] {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 2px;
  padding: 8px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.card button:hover,
.card input[type='submit']:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.card .text-label {
  color: #777777;
  font-size: 0.825rem;
}

.card hr {
  height: 1px;
  border: none;
  margin-left: -8px;
  margin-right: -8px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.1) !important;
}

.card h3.h3 {
  font-family: 'Nunito', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
/*.card.card-classes{*/
/*min-width:300px;*/
/*max-width:450px;*/
/*}*/

.card-link {
  color: #5d8ffc;
  text-decoration: none;
}

/* card list of elements*/
.card .list-elements {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card .list-element {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card .list-element:last-child {
  border-bottom: none;
}

.card.big-chart {
  width: 80vw;
}
.card.card-stats {
  width: 39vw;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /*font-size: 16px;*/
}

.wrapper {
  height: 100%;
  width: 100%;
}

.container {
  padding-top: 5vh;
  display: flex;
}

.container-center {
  display: flex;
  justify-content: center;
  /*align-items:center;*/
}

input,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.bolder {
  font-weight: bolder;
  color: #5d5d5d;
}

/*accordion component*/
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  /*padding: 18px;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /*font-size: 15px;*/
  transition: 0.4s;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.active,
.accordion:hover {
  /*background-color: rgba(0,0,0,0.01);*/
  /*color: black;*/
}

.panel {
  padding: 0 0;
  background-color: white;
  overflow: hidden;
  color: #777;
  font-size: 0.8rem;
}

.right-side-animation {
  opacity: 0;
  transform-origin: top right;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: right-side-animation;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes right-side-animation {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform: translateX(0px);
  }
}

/* Standard syntax */
@keyframes right-side-animation {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    transform: translateX(0px);
  }
}

/*popup notification*/
#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast .img {
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  background-color: #111;
  color: #fff;
}
#toast #img {
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  background-color: #111;
  color: #fff;
}
#toast #desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}
#toast .desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .card.card-stats {
    min-width: 96% !important;
  }
  .card {
    min-width: 96% !important;
    width: 96% !important;
  }
  .container.container-center {
    flex-direction: column;
  }
  /*body{*/
  /*background-color:pink;*/
  /*}*/
}

@media only screen and (max-width: 670px) {
  .card.card-stats {
    min-width: 92% !important;
  }
  .card {
    min-width: 92% !important;
    width: 92% !important;
  }
  .container.container-center {
    flex-direction: column;
  }
  /*body{*/
  /*background-color:pink;*/
  /*}*/
}
