body {
  margin: 0px;
  padding: 0px;
  background-color: #f7f7f7;
}

.box {
  height: 200px;
  width: 1000px;
  background-color: #2d2d2d;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  height: 400px;
  width: 450px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.loginform,
.signupform {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.signupform {
  top: 45%;
  left: 75%;
  visibility: hidden;
}
.loginform h1,
.signupform h1 {
  font-family: arial;
  font-size: 25px;
  color: #5d8ffc;
}
.loginform input,
.signupform input {
  height: 40px;
  width: 300px;
  border: 0px;
  outline: none;
  border-bottom: 1px solid black;
  margin: 5px;
}

.loginform button,
.signupform button,
.loginform input[type="submit"],
.signupform input[type="submit"] {
  height: 35px;
  width: 130px;
  margin-top: 30px;
  margin-left: 175px;
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 2px;
  padding: 8px;
  display: block;
}

.loginform button:hover,
.signupform button:hover,
.loginform input[type='submit'],
.signupform input[type='submit'] {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.login_btn,
.signup_btn {
  height: 35px;
  width: 120px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  outline: none;
  position: absolute;
  left: 75%;
  top: 65%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.signup_btn {
  left: 25%;
}
.login_btn:hover,
.signup_btn:hover {
  background-color: white;
  color: #2d2d2d;
  cursor: pointer;
}

.login_msg,
.signup_msg {
  font-family: arial;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.signup_msg {
  left: 25%;
}

input,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button,
.loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover,
.loggedin-div button:hover,
.main-div input[type="submit"]:hover,
.loggedin-div input[type="submit"]:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.invite-div {
  margin-left: 40%;
  margin-right: 40%;
}
