body {
  background: #f7f7f7;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.logo {
  font-family: 'Acme', sans-serif;
  font-size: 3rem !important;
}

.text-blue {
  color: #5d8ffc;
}

input,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-div,
.loggedin-div {
  width: 20%;

  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button,
.loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 3px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover,
.loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

a.text-blue {
  color: #5d8ffc;
  text-decoration: none;
}

#invite-div {
  margin-left: 40%;
  margin-right: 40%;
}

select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
}

.container-centered {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.small-vertical-padding {
  padding: 0.2em;
}

.class_field {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .main-div {
    width: 70%;
  }
}
