
.center-text{
    text-align:center;
}

.card .card-body{
    display:flex;
    justify-content:center;
    flex-direction: column;
}

.code{
    display:inline-block;
    padding:8px;
    background-color: #dbdbdb;
    color:#5d5d5d;
    font-family:Courier, Verdana;
    font-size:2.765rem;
}

.buttons{
    width:100%;
    display:flex;
    justify-content:space-around;
}
.buttons button{
    margin:4px;
}

.card .btn-warning{
    background-color: #EC971F;
    border:1px solid #EC971F;
}
.card .btn-warning:hover {
    background: #fff;
    color: #EC971F;
    border: 1px solid #EC971F;
}
.center-text{
    text-align:center;
}

.card .card-body{
    display:flex;
    justify-content:center;
    flex-direction: column;
}

.code{
    display:inline-block;
    padding:8px;
    background-color: #dbdbdb;
    color:#5d5d5d;
    font-family:Courier, Verdana;
    font-size:2.765rem;
}