body {
    font-family: sans-serif;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

code {
    display: block;
    background: #eee;
    padding: 1em;
    width: 100%;
}

pre {
    padding: 0;
    margin: 0;
}


body > article {
    padding: 5em 7.5em;
}

article h1 {
    font-size: 3em;
}

article h2 {
    font-size: 2em;
}

[aria-label=Gallery] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[aria-label=Gallery] img {
    height: 20em;
}

@media only screen and (max-width: 500px) {
    body > article {
        padding: 0.5em 0.5em;
    }

    img {
        width: 100%;
    }

    [aria-label=Gallery] img {
        height: unset;
    }
}